@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="profile">
    <img id="profile-pic" src="~/img/profile.jpg"/>
    <h1>Danny DeRuiter</h1>
    <h2>Full Stack Software Developer</h2>
    <h3>Grand Rapids, MI</h3>
</div>

<div id="education-background">
    <div class="row" id="education-title">
        <h1>Education</h1>
    </div>
    <div class="row" id="education-content">
        <div class="col-md-4">Grand Valley State University 2013 - 2018<br /> Bachelor of Science in Computer Science</div>
        <div class="col-md-4">
            <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="6a1c032a-062e-4ecf-bf79-5a4b537c3069" data-share-badge-host="https://www.youracclaim.com"></div>
            <script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script></div>
        <div class="col-md-4">
            <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="08f2f990-38b9-4e82-be74-673f8bf1a688" data-share-badge-host="https://www.youracclaim.com"></div>
            <script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
        </div>
    </div>
</div>
