@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row-content" id="profile">
    <img id="profile-pic" src="~/img/profile.jpg" />
    <h1>Danny DeRuiter</h1>
    <h2>Full Stack Software Developer</h2>
    <h3>Grand Rapids, MI</h3>
</div>

<div id="education-background" class="container-fluid">
    <h1 class="row content-title" id="education-title">
        Education
    </h1>
    <div class="row row-content" id="education-content">
        <div class="col-md-4">Grand Valley State University 2013 - 2018<br /> Bachelor of Science in Computer Science</div>
        <div class="col-md-4">
            <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="6a1c032a-062e-4ecf-bf79-5a4b537c3069" data-share-badge-host="https://www.youracclaim.com"></div>
            <script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
        </div>
        <div class="col-md-4">
            <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="08f2f990-38b9-4e82-be74-673f8bf1a688" data-share-badge-host="https://www.youracclaim.com"></div>
            <script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
        </div>
    </div>
</div>

<div id="technical-skills" class="container-fluid">
    <h1 id="technical-skills-title" class="content-title">Technical Skills</h1>
    <div id="technical-skills-content" class="row row-content">
        <div class="col-md-4">
            <h2>C#</h2>
            <img src="~/img/c-sharp.png" />
        </div>
        <div class="col-md-4">
            <h2>ASP.NET Core</h2>
            <img src="~/img/net-core.png" />
        </div>
        <div class="col-md-4">
            <h2>Azure</h2>
            <img src="~/img/azure.png" />
        </div>
</div>

<div id="contact-info" class="container-fluid">
    <h1 id="contact-info-title" class="content-title">Contact Me!</h1>
    <div id="contact-info-content" class="row row-content">

    </div>
<<<<<<< HEAD
</div>

<div id="work-history" class="container-fluid">
    <h1 id="work-history-title" class="content-title">Work History</h1>
    <div class="row row-content">
        <div class="col-md-6">
            <h2>Custom Software Developer - SalesPad (2015-2018)</h2>
            <ul>
                <li>C#</li>
                <li>.NET Framework</li>
                <li>Winforms</li>
                <li>Angular</li>
                <li>TSQL</li>
                <li>Dynamics GP</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Software Developer / Analyst II - Meijer (2018-Present)</h2>
            <ul>
                <li>C#</li>
                <li>.NET Core / .NET Framework</li>
                <li>Azure</li>
                <li>ASP.NET</li>
                <li>MVC</li>
                <li>TSQL</li>
            </ul>
        </div>
    </div>
</div>
=======


</div>
>>>>>>> 210551ecb65e025bfe9a7d0648975a26222f85f7
