@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="profile">
    <img id="profile-pic" src="~/img/profile.jpg"/>
    <h1>Danny DeRuiter</h1>
    <h2>Full Stack Software Developer</h2>
    <h3>Grand Rapids, MI</h3>
</div>

<div id="education-background">
    <div class="row" id="education">
        <h1>Education</h1>
    </div>
</div>
